@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}

<div class="basicUploadWeb">

    <h2 id="avisoUpload">123</h2>
    <input id="uploadFiles" multiple type="file" />
    <button id="submitFiles">Upload</button>
    <button id="modalFiles">Modal</button>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/Shared/ModalStyle.css">
    <link rel="stylesheet" href="~/css/Shared/ManipuladorPaginas.css">

    <link rel="stylesheet" href="~/css/Home/Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section Scripts {


    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js" defer></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="module" src="~/js/Main/Views/MainView.js?v=@Configuration.GetValue(typeof(string), "VERSION")"></script>

}

